body
{
    background-image: url("images/questionBank2.jpg");
    margin: 0;
    padding: 0;
}
.fhum
{
    background-color: royalblue;
    width: 20%;
    height: 20%;
}
.fsms
{
    background-color: goldenrod;
    width: 20%;
    height: 20%
}
.fsse
{
    background-color: indigo;
    width: 20%;
    width: 20%;
}